.display-none {
	display: none;
}

#header {
  position: relative;
  z-index: 1;
}

body {
  background-color: black;
}

.body {
  max-height: 500px;
}

.row-image {
  max-height: 25vh;
  min-height: 25vh;
  background-color: black;
	background-repeat: no-repeat;
  background-size: cover;
  transition: min-height .7s ease;
}

.row-image.expand {
  min-height: 500px;
}

p {
	font-family: 'Rajdhani', sans-serif;
}

.bg-dark-t {
	background-color: rgba(0,0,0,0.5) !important;
}

.bg-orange {
	background-color: #ff7d12 !important;
}

.bg-green {
	background-color:#5ed186 !important;
}

.bg-gradient-t {
  background: linear-gradient(black, transparent);
}

h1 {
  overflow: hidden;
  text-align: center;
}

h1:before,
h1:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

h1:before {
  right: 0.5em;
  margin-left: -50%;
}

h1:after {
  left: 0.5em;
  margin-right: -50%;
}

