
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}


img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_content {
    max-width: 1000px;
}

.hero_caption {
    font-size: 4rem;
}

.hero_title {
    position: relative;
    font-size: 8rem;
    z-index: 1000;
}

.hero_description, .hero_cta 
{
    font-size: 2rem;
    display: none;
}

.hero_cta 
{
    display: none
}

.hero_img {
    width: 35rem;
    margin-left: -10rem;
    z-index: 2;
}